/* ===== GOOGLE FONTS ===== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* ===== VARIABLES ===== */
:root {
  --first-color: #0396A6;
  --dark-color: #000;
  --white-color: #F2F2F2;
  --body-font: 'Open Sans', sans-serif;

  --biggest-font-size: 3.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;

  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 7rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/* ===== RESET & BASE ===== */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--dark-color);
  color: var(--white-color);
  overflow: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}


h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* ===== LAYOUT ===== */
.bd-grid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.l-header {
  position: absolute;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: var(--z-modal);
  text-shadow: 1px 1px 1px #000;
}

/* ===== NAVBAR ===== */
.nav {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 20px;
  color: var(--white-color);
  width: 200px;
  font-size: 23px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.nav__logo:hover {
  color: #a8a8a8;
  font-size: 25px;
  transition: .4s;
}

.nav__logo.fade-out {
  opacity: 0;
}

.nav__toggle {
  font-size: 1.8rem;
  color: var(--white-color);
  cursor: pointer;
  display: block;
}

.nav__toggle:hover{
  color: #a8a8a8;
  font-size: 1.9rem;
  transition: .4s;
}

.nav__menu {
  position: fixed;
  top: -100%;
  width: 100%;
  left: 0;
  text-align: center;
  padding: 10px;
  z-index: var(--z-fixed);
}

.nav__menu.show {
  top: 8%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  transition: .5s;
  background-color: #000;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav__link {
  font-size: 1.1rem;
  color: var(--white-color);
}

.nav__link:hover {
  color: #a8a8a8;
}

@media screen and (min-width: 768px) {
  .nav {
    height: 4rem;
  }

  .nav__menu {
    position: static;
    background: none;
    height: auto;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    top: 0;
  }

  .nav__list {
    flex-direction: row;
    gap: 2rem;
  }

  .nav__toggle {
    display: none;
  }
}

/* ===== HOME SECTION ===== */
.home {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.home__parallax {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.home__parallax-img1 {
  background-image: url("/assets/img/imgm1.png");
  z-index: var(--z-normal);
}

.home__parallax-img2 {
  background-image: url("/assets/img/imgm2.png");
  z-index: var(--z-tooltip);
}

.home__parallax-img3 {
  background-image: url("/assets/img/imgm3.png");
  z-index: var(--z-fixed);
}

.home__parallax-img4 {
  background-image: url("/assets/img/imgm4.png");
  z-index: var(--z-fixed);
}

.home__title,
.home__subtitle {
  position: absolute;
  width: 100%;
  text-align: center;
  color: var(--white-color);
  display: flex;
  justify-content: center;
}

.home__title {
  top: 32%;
  font-size: var(--biggest-font-size);
  z-index: var(--z-normal);
}

.home__subtitle {
  top: 44%;
  font-size: var(--h2-font-size);
  font-weight: bold;
  z-index: var(--z-tooltip);
}

.home__scroll {
  position: absolute;
  bottom: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  z-index: var(--z-modal);
}

.home__scroll .bx {
  color: var(--white-color);
}

/* ===== SECTION ===== */
.l-section {
  background-color: var(--dark-color);
}

.section {
  max-width: 950px;
  margin: 0 auto;
  padding: 2rem 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section__data {
  margin-bottom: 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 1rem;
}

.section__text {
  font-size: var(--normal-font-size);
  line-height: 1.6;
}

.section__img {
  width: 285px;
  border-radius: 0.5rem;
}

.btn {
  z-index: 1000;
  margin-top: 30px;
}

.btn a {
  font-size: 18px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px;
}

.btn a:hover {
  background-color: #a8a8a8;
}

@media screen and (min-width: 760px) {
  .section {
    flex-direction: row;
    gap: 2rem;
  }

  .section__img {
    width: 470px;
  }

  .section__text {
    padding-right: 2rem;
  }

  .home__title {
    top: 27%;
  }

  .home__subtitle {
    top: 50%;
  }
}